# dependencies
node_modules/
**/node_modules/

# next
backend/.next/
backend/out/
*.tsbuildinfo

# expo
mobile/.expo/
mobile/dist/
mobile/web-build/

# env
.env
.env*.local
backend/.env

# misc
.DS_Store
*.log
npm-debug.log*
